@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<h2>Chi tiết đơn hàng cá nhân</h2>

<h4>Đơn hàng đã chuyển thành công</h4>
<table class="table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DH001</td>
            <td>01/04/2025</td>
            <td>Đã chuyển thành công</td>
            <td><a href="#" class="btn btn-sm btn-primary">Xem</a></td>
        </tr>
        <tr>
            <td>DH002</td>
            <td>03/04/2025</td>
            <td>Đã chuyển thành công</td>
            <td><a href="#" class="btn btn-sm btn-primary">Xem</a></td>
        </tr>
    </tbody>
</table>

<h4>Đơn hàng đã duyệt</h4>
<table class="table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DH003</td>
            <td>05/04/2025</td>
            <td>Đã duyệt</td>
            <td><a href="#" class="btn btn-sm btn-primary">Xem</a></td>
        </tr>
    </tbody>
</table>

<h4>Đơn hàng chưa duyệt</h4>
<table class="table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DH004</td>
            <td>07/04/2025</td>
            <td>Chưa duyệt</td>
            <td><a href="#" class="btn btn-sm btn-primary">Xem</a></td>
        </tr>
    </tbody>
</table>
