
@{
    ViewBag.Title = "DichVu_YeuCauBaoGia";
}

<main style="min-height: calc(100vh - 160px);">
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Yêu Cầu Báo Giá</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="@Url.Action("Index", "Home")">Trang Chủ</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0"><a class="text-white" href="@Url.Action("DichVu_YeuCauBaoGia", "Home")">Dịch Vụ</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Yêu Cầu Báo Giá</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Request Quote Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-4">
                        <h4 class="m-0"><i class="fa fa-info-circle text-white mr-2"></i>Thông Tin Hỗ Trợ</h4>
                    </div>
                    <div class="bg-secondary p-4">
                        <p><i class="fa fa-phone-alt mr-2"></i>+84 236 123 4567</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@tiensa-port.com</p>
                        <p><i class="fa fa-clock mr-2"></i>Thứ 2 - Thứ 6: 8:00 - 17:00</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">Yêu Cầu Báo Giá</h6>
                    <h1 class="mb-4">Nhận Báo Giá Dịch Vụ Logistics</h1>
                    <div class="contact-form bg-secondary" style="padding: 30px;">
                        <div id="success"></div>
                        <div class="control-group">
                            <input type="text" class="form-control border-0 p-4" id="name" placeholder="Họ và Tên" required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control border-0 p-4" id="email" placeholder="Email Của Bạn" required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select class="custom-select border-0 px-4" style="height: 47px;">
                                <option selected>Chọn Dịch Vụ</option>
                                <option value="1">Vận Tải Biển</option>
                                <option value="2">Lưu Kho Hàng Hóa</option>
                                <option value="3">Vận Chuyển Đường Bộ</option>
                                <option value="4">Thủ Tục Hải Quan</option>
                            </select>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control border-0 py-3 px-4" rows="3" id="message" placeholder="Thông Tin Thêm (Loại Hàng Hóa, Số Lượng, Điểm Đến, ...)" required="required"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <a href="mailto:info@tiensa-port.com?subject=Yêu Cầu Báo Giá Từ Website" class="btn btn-primary py-3 px-4">Gửi Yêu Cầu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Request Quote End -->
</main>>

